* {
 box-sizing: border-box;
};	
.inner{
	margin-left: 10px;
	margin-right: 100px;
}
body{
	width: 800px;
	margin-left: 0;
	margin-bottom: 50px;
}
.inner_head{
	margin-bottom: 20px;
	padding: 20px;	
	text-align: center;
	font-size: 25px;
}
.inner_item{
	padding: 0 20px;
	font-size: 22px;
	text-align: justify;
	text-indent: 50px;
}
p{
	margin: 0
}
.img1{
	margin-left: 0	;
	margin-top: 22px;
}
.img2{
	margin-left: 0	;
	margin-top: 22px;
}
.img3{
	margin-left: 0	;
	margin-top: 22px;
}
.img4{
	margin-left: 0	;
	margin-top: 22px;
}